// sizes
$size-huge: 1900px;
$size-extra-large: 1281px;
$size-large: 1025px;
$size-medium: 768px;
$size-small: 481px;
$size-extra-small: 320px;

// colors
$primary-color: #800020;
$secondary-color: #f29af7;
$footer-color: rgba(252, 145, 51, 0.67);
$white: #FFFFFF;
$border-color: rgba(54, 66, 81, 0.78);
$shadow-color: rgba(54, 66, 81, 0.39);
$gold-gradient: goldenrod;

// fonts
$primary-cursive-font-family: "Great Vibes", cursive;
$primary-font-family: "Playfair Display", sans-serif;
